:root {
    /* background */
    --header-background-color:#012D63;
    --footer-background-color:#021635;
    /* border */
    --facts-border-color:#8E32C6;
    --footer-border-color:#9B9B9B;
    /* text */
    --main-text-color:#FFFFFF;
    --seond-text-color:#D8D8D8;
    --header-text-color:#C7C7C7;
    --header-first-language-text-color:#DCDCDC;
    --order-input-text-color:#959595;
    /* shadow */
    --first-review-first-color:#533978;
    --first-review-second-color:#7B54B3;
    --second-review-first-color:#61337C;
    --second-review-second-color:#9159B1;
    --third-review-first-color:#732F26;
    --third-review-second-color:#B95A4C;
    /* gradient */
    --first-review-first-gradient-color:#00E5E6FF;
    --first-review-second-gradient-color:#00A8F7FF;
    --first-review-third-gradient-color:#9A76F9FF;
    --first-review-fourth-gradient-color:#CC5EC2FF;
    --second-review-first-gradient-color:#FF68B4;
    --second-review-second-gradient-color:#FF45E1;
    --second-review-third-gradient-color:#CE3AFF;
    --second-review-fourth-gradient-color:#8961FF;
    --third-review-first-gradient-color:#FFE128;
    --third-review-second-gradient-color:#FF9B5C;
    --third-review-third-gradient-color:#FF8381;
    --third-review-fourth-gradient-color:#FF5489;
}

.container {
    width: 1110px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    /* outline: 1px solid red; */
}

body {
    color: var(--main-text-color);
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: calc(28 / 24);
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

/* header */

.header {
    height: 90px;
    background-color: var(--header-background-color);
}

.header-flex {
    display: flex;
}

.logo {
    width: 100px;
    margin-left: 3px;
    margin-right: 152px;
    margin-bottom: 14px;
    margin-top: 14px;
}

.header-nav-list, .header-language-list {
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
}

.header-nav-list {
    margin-right: 73px;
}

.header-nav-item:not(:last-child) {
    margin-right: 29px;
}

.header-nav-first-item {
    width: 112px;
    margin-right: 29px;
}

.header-nav-first-link  {
    color: var(--main-text-color);
}

.header-nav-link {
    color: var(--header-text-color);
    font-weight: 300;
}

/* language */

.header-nav-item:nth-child(5) {
    margin-right: 20px;
}

.header-language-item:not(:last-child) {
    margin-right: 11px;
    font-weight: 300;
    color: var(--header-first-language-text-color);
}

/* main */

/* hero */

.hero {
    height: 858px;
    background-image: url(../img/hero-background-image.jpg);
}

.hero-logo {
    width: 160px;
    margin-left: 6px;
    margin-top: 94px;
}

.hero-tagline {
    width: 178px; 
    margin-left: 20px;
}

.hero-h1 {
    font-family: "Playfair Display", serif;
    font-size: 144px;
    line-height: calc(192 / 144);
    font-weight: 400;
    width: 640px;
}

.hero-h2 {
    font-family: "Playfair Display", serif;
font-size: 72px;
line-height: calc(96 / 72);
font-weight: 400;
margin-bottom: 12px;
}

.hero-p {
font-size: 18px;
line-height: calc(21 / 18);
width: 507px;
margin-bottom: 41px;
}

.hero-button {
width: 254px;
height: 67px;
border-radius: 10px; 
background: var(--facts-border-color);
color: var(--main-text-color);
font-size: 24px;
font-weight: 300;
line-height: 28px;
letter-spacing: 0%;
}

/* facts */

.facts {
    background-image: url(../img/information-background-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 606px;
}

.facts-flex {
    display: flex;
    justify-content: center;
}

.facts-list {
    display: flex;
    align-items: center;
    border: solid 5px var(--facts-border-color);
    padding: 25px 50px 19px;
    margin-top: 105px;
    justify-content: space-between;
    width: 1110px;
    height: 396px;
}

.facts-item:not(:last-child) {
border-right: solid var(--main-text-color) 1px;
padding-right: 70px;
}


/* reviews */

.reviews {
    height: 520px;
    background-image: 
    url(../img/flowers-image.png),
    url(../img/reviews-background-image.jpg);
    background-repeat: 
    no-repeat, 
    no-repeat;
    background-position: left, center;
    background-size: 340px, 1440px;
    background-position-y: bottom, center;
}

.reviews-h2 {
font-family: "Playfair Display", serif;
font-size: 48px;
font-weight: 400;
line-height: calc(68 / 48);
text-align: center;
margin-bottom: 24px;
}

.reviews-list {
    display: flex;
width: 951px;
margin-left: 86px;
margin-right: 86px;
/* margin-bottom: 114px; */
gap: 93px;

}

.reviews-item {
width: 255px;
height: 292px;
border-radius: 15px;
display: ;
}

.reviews-item:first-child {
box-shadow: 0px 16px 0px -5px var(--first-review-second-color), 0px 30px 0px -10px var(--first-review-first-color);
padding-bottom: 10px;
background: linear-gradient(135.00deg, var(--first-review-first-gradient-color) 7.292%,var(--first-review-second-gradient-color) 26.042%,var(--first-review-third-gradient-color) 62.5%,var(--first-review-fourth-gradient-color) 100%);
}

.reviews-item:nth-child(2) {
box-shadow: 0px 16px 0px -5px var(--second-review-second-color), 0px 30px 0px -10px var(--second-review-first-color);
padding-bottom: 10px;
background: linear-gradient(135.00deg, var(--second-review-first-gradient-color) 0%, var(--second-review-second-gradient-color) 26.042%,var(--second-review-third-gradient-color) 62.841%,var(--second-review-fourth-gradient-color) 100%);
}

.reviews-item:last-child {
box-shadow: 0px 16px 0px -5px var(--third-review-second-color), 0px 30px 0px -10px var(--third-review-first-color);
padding-bottom: 10px;
background: linear-gradient(135.00deg, var(--third-review-first-gradient-color) 0%, var(--third-review-second-gradient-color) 30.208%,var(--third-review-third-gradient-color) 63.286%,var(--third-review-fourth-gradient-color) 100%);
}

.reviews-p {
width: 228px;
height: 112px;
margin-left: 18px;
margin-top: 49px;
margin-right: 9px;
}

.reviews-dates {
width: 36px;
height: 16px;
color: var(--seond-text-color);
font-size: 14px;
line-height: calc(16 / 14);
margin-left: 18px;
}

.reviews-information {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: 18px;
    margin-top: 40px; 
    /* margin-bottom: 29px; */
}

.reviews-human-img {
width: 31px;
/* margin-right: 5px; */
}

.reviews-human-name {
font-size: 14px;
line-height: calc(16 / 14);
}

.reviews-human-year {
    color: var(--seond-text-color);
font-size: 12px;
line-height: calc(14 / 12);
}

/* order */

.order {
    height: 509px;
    background-image: url(../img/order-background.jpg);
}

.order-h2 {
font-family: "Playfair Display", serif;
font-size: 48px;
font-weight: 400;
line-height: calc(64 / 48);
text-align: center;
margin-bottom: 33px;
}

.order-input, 
.order-button {
    display: block;
    margin: 0 auto;
}

/* .order-input {
width: 690px;
height: 60px;
border-radius: 50px; 
}

.order-input:not(:first-child) {
width: 580px;
height: 50px;
border-radius: 50px; 
} */

.email-input {
    display: block;
    margin: 0 auto;
    width: 690px;
height: 60px;
border-radius: 50px; 
margin-bottom: 19px;
padding-left: 25px;
color: var(--order-input-text-color);
font-size: 28px;
font-weight: 300;
line-height: calc(33 / 28);
}

.country-input {
    display: block;
    margin: 0 auto;
    width: 580px;
    height: 50px;
    border-radius: 50px; 
    margin-bottom: 19px;
    padding-left: 25px;
    color: var(--order-input-text-color);
font-size: 28px;
font-weight: 300;
line-height: calc(33 / 28);
}

.city-input {
    display: block;
    margin: 0 auto;
    width: 580px;
    height: 50px;
    border-radius: 50px; 
    margin-bottom: 19px;
    padding-left: 25px;
    color: var(--order-input-text-color);
font-size: 28px;
font-weight: 300;
line-height: calc(33 / 28);
}

.address-input {
    display: block;
    margin: 0 auto;
    width: 580px;
    height: 50px;
    border-radius: 50px; 
    margin-bottom: 19px;
    padding-left: 25px;
    color: var(--order-input-text-color);
font-size: 28px;
font-weight: 300;
line-height: calc(33 / 28);
}

.order-button {
    width: 248px;
    height: 68px;
border-radius: 16px; 
background: var(--facts-border-color);
border: 5px solid var(--facts-border-color);
color: var(--main-text-color);
font-size: 24px;
text-align: center;
}

/* footer */

.footer {
height: 292px;
background-color: var(--footer-background-color);
}

.footer-top-part {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--footer-border-color);
    padding-top: 45px;
    padding-bottom: 20.5px;
}

.footer-bottom-part {
    display: flex;
    justify-content: space-between;
}

.footer-questions-link, .footer-email-link {
    color: var(--main-text-color);
}

/* first-list */

.footer-questions-item:not(:last-child) {
    margin-bottom: 10px;
}

/* second-list */

.footer-email-list {
text-decoration-line: underline;
}

.footer-email-item:not(:last-child) {
    margin-bottom: 10px;
}

/* third-list */

.footer-information-list {
    margin-top: 23.5px;
}

/* fourth-list */

.footer-logos-item:first-child {
    width: 108px;
}